<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="com.jreframeworker.atlas.codegen" name="Code Generator" schema="schema/com.jreframeworker.atlas.codegen.exsd"/>
   
   <!-- extension for JReFrameworker Code Wizard -->
	<extension
         point="org.eclipse.ui.views">
      <view
            category="com.jreframeworker.views.categories"
            class="com.jreframeworker.atlas.ui.CodeWizardView"
            icon="icons/JReFrameworker.gif"
            id="com.jreframeworker.views.codewizard"
            name="JReFrameworker Code Wizard">
      </view>
   </extension>
   
    <!-- adds code generator definitions -->
   <extension point="com.jreframeworker.atlas.codegen">
      <codegen class="com.jreframeworker.atlas.codegen.generators.type.DefineType"></codegen>
      <codegen class="com.jreframeworker.atlas.codegen.generators.type.ReplaceType"></codegen>
      <codegen class="com.jreframeworker.atlas.codegen.generators.type.MergeType"></codegen>
      <codegen class="com.jreframeworker.atlas.codegen.generators.type.PurgeType"></codegen>
      
      <codegen class="com.jreframeworker.atlas.codegen.generators.field.DefineField"></codegen>
      <codegen class="com.jreframeworker.atlas.codegen.generators.field.ReplaceField"></codegen>
      <codegen class="com.jreframeworker.atlas.codegen.generators.field.PurgeField"></codegen>
      
      <codegen class="com.jreframeworker.atlas.codegen.generators.method.DefineMethod"></codegen>
      <codegen class="com.jreframeworker.atlas.codegen.generators.method.ReplaceMethod"></codegen>
      <codegen class="com.jreframeworker.atlas.codegen.generators.method.MergeMethod"></codegen>
      <codegen class="com.jreframeworker.atlas.codegen.generators.method.PurgeMethod"></codegen>
      <codegen class="com.jreframeworker.atlas.codegen.generators.method.HookBeforeMethod"></codegen>
      <codegen class="com.jreframeworker.atlas.codegen.generators.method.HookAfterMethod"></codegen>
   </extension>
  
</plugin>
