<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   
   <!-- extension for JReFrameworker Code Wizard -->
   <!-- Beta Feature Not Ready For Release
	<extension
         point="org.eclipse.ui.views">
      <view
            category="jreframeworker.views.categories"
            class="jreframeworker.atlas.ui.CodeWizardView"
            icon="icons/JReFrameworker.gif"
            id="jreframeworker.views.codewizard"
            name="JReFrameworker Code Wizard">
      </view>
   </extension>
   -->
  
</plugin>
