<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   
   <!-- New project wizard -->
   <extension point="org.eclipse.ui.newWizards">
      <category name="JReFrameworker" id="jreframeworker.ui.category" />
      <wizard category="jreframeworker.ui.category" class="jreframeworker.ui.NewProjectWizard" icon="icons/JReFrameworker.gif" id="jreframeworker.ui.NewProjectWizard" name="JReFrameworker Project">
         <description>Creates a new JReFrameworker project in the workspace.</description>
      </wizard>
   </extension>
   
   <!-- Project nature icon -->
   <extension point="org.eclipse.ui.ide.projectNatureImages">
	<image 
		id="jreframeworker.ui.natureImage"
		natureId="jreframeworker.JReFrameworkerNature"
		icon="icons/nature.gif">
	</image>
   </extension>
   
   <!-- A project import wizard -->
   <!--
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="jreframeworker.ui.category"
            name="JReFrameworker">
      </category>
      <wizard
            category="jreframeworker.ui.category"
            class="jreframeworker.ui.ImportWizard"
            icon="icons/JReFrameworker.gif"
            id="jreframeworker.ui.ImportWizard"
            name="JReFrameworker Project">
         <description>
            Imports an existing JReFrameworker project into the workspace.
         </description>
      </wizard>
   </extension>
   -->
   
   <!-- Project builder -->
   <extension id="JReFrameworkerBuilder" name="JReFrameworker Project Builder" point="org.eclipse.core.resources.builders">
      <builder hasNature="true">
         <run class="jreframeworker.builder.JReFrameworkerBuilder" />
      </builder>
   </extension>
   
   <!-- Project build nature -->
   <extension id="JReFrameworkerNature" name="JReFrameworker Project Nature" point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="jreframeworker.builder.JReFrameworkerNature" />
      </runtime>
      <builder id="jreframeworker.JReFrameworkerBuilder" />
   </extension>
   
   <!-- Project build command -->
   <extension point="org.eclipse.ui.commands">
      <category name="JReFrameworker Project Nature commands" id="jreframeworker.JReFrameworkerNature.category" />
      <command name="Add/RemoveJReFrameworker Project Nature" defaultHandler="jreframeworker.builder.AddRemoveJReFrameworkerNatureHandler" categoryId="jreframeworker.JReFrameworkerNature.category" id="jreframeworker.addRemoveJReFrameworkerNature" />
   </extension>
   
   <!-- Add/remove project build nature -->
   <extension point="org.eclipse.ui.menus">
      <menuContribution locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
         <command commandId="jreframeworker.addRemoveJReFrameworkerNature" label="Disable JReFrameworker Builder" style="push">
            <visibleWhen checkEnabled="false">
               <with variable="selection">
                  <count value="1" />
                  <iterate>
                     <adapt type="org.eclipse.core.resources.IProject">
                        <test value="jreframeworker.JReFrameworkerNature" property="org.eclipse.core.resources.projectNature" />
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command commandId="jreframeworker.addRemoveJReFrameworkerNature" label="Enable JReFrameworker Builder" style="push">
            <visibleWhen checkEnabled="false">
               <with variable="selection">
                  <count value="1" />
                  <iterate>
                     <adapt type="org.eclipse.core.resources.IProject">
                        <not>
                           <test value="jreframeworker.JReFrameworkerNature" property="org.eclipse.core.resources.projectNature" />
                        </not>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   
   <!-- Preferences page -->
   <extension point="org.eclipse.ui.preferencePages">
      <page class="jreframeworker.ui.PreferencesPage" id="jreframeworker.preferences" name="JReFrameworker" />
   </extension>
   
   <!-- Launch Profiles -->
   <extension point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType id="jreframeworker.launchConfigurationType" name="JReFrameworker Java Application" delegate="jreframeworker.launcher.JReFrameworkerLaunchDelegate" modes="run, debug" />
   </extension>
   <extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage icon="icons/JReFrameworker.gif" configTypeID="jreframeworker.launchConfigurationType" id="jreframeworker.launchConfigurationTypeImage" />
   </extension>
   <extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup type="jreframeworker.launchConfigurationType" class="jreframeworker.launcher.JReFrameworkerTabGroup" id="jreframeworker.launchConfigurationTabGroup" />
   </extension>
   <extension point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut label="JReFrameworker Java Application" icon="icons/JReFrameworker-toolbar.gif" modes="run, debug" class="jreframeworker.launcher.JReFrameworkerLaunchShortcut" description="Launch Java application with the JReFrameworker modified runtime" id="jreframeworker.launcher.launchShortcut">
         <description description="Runs the Java application with the JReFrameworker modified runtime" mode="run" />
         <description description="Debugs a local Java application with the JReFrameworker modified runtime" mode="debug" />
         <contextualLaunch>
            <enablement>
               <with variable="selection">
                  <count value="1" />
                  <iterate>
                     <or>
                        <test property="org.eclipse.jdt.launching.hasMain" />
                        <and>
                           <test property="org.eclipse.jdt.launching.isContainer" />
                           <test property="org.eclipse.jdt.launching.hasProjectNature" args="org.eclipse.jdt.core.javanature" />
                           <test property="org.eclipse.jdt.launching.hasProjectNature" args="jreframeworker.JReFrameworkerNature" />
                        </and>
                     </or>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
         <configurationType id="jreframeworker.launchConfigurationType" />
      </shortcut>
   </extension>
   
</plugin>
